#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

package=automake
version=1.10
infodir=doc

DEB_DESTDIR=$(CURDIR)/debian/tmp

common-install-indep::
# install lintian overrides
	cp debian/lintian.overrides \
		debian/$(package)/usr/share/lintian/overrides/$(package)
# remove automake's versions
	rm -f $(CURDIR)/debian/tmp/usr/share/automake-$(version)/config.sub
	rm -f \
		$(CURDIR)/debian/tmp/usr/share/automake-$(version)/config.guess
# Rebuild the info files
	cd $(infodir) && makeinfo automake.texi

clean::
	rm -f $(infodir)/automake-$(version).info*